*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    box-sizing: border-box;
}
body{
    margin: 0;
    align-items: center;
}
.main-container{
    background: linear-gradient(135deg, #eeb4e6, #87a8f0);
    padding-bottom: 30px;
    align-items: center;
    right: 0;
    overflow: hidden;
}
.navbar{
    display: flex;
    padding: 11px;
    background: rgb(27, 27, 27);
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.navbar h3{
    color: #f1d21d;
    font-family: cursive;
}
h3 span{
    color: rgb(0, 252, 239);
}

#navList{
    list-style: none;
    display: flex;
    gap: 43px;
    right: 0;
}
#navList.show{
    top: 36px;
    visibility: visible;
    flex-direction: column;
    position: absolute;
    padding: 18px;
    background-color:  rgb(27, 27, 27);
    align-items: end;
    width: 100%;
    height: auto;
    transition: all 0.5s ease-in-out;
}
#navList li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-align: right;
}
.navbar .dropdown{
    display: none;
    cursor: pointer;
    right: 0;
    position: absolute;
}
.navbar .dropdown div{
    height: 5px;
    width: 40px;
    background: linear-gradient(90deg, #eeb4e6 10%, #fff 60%, #87a8f0);
    margin: 5px 8px;
}
@media only screen and (max-width: 600px){
    .navbar .dropdown{
        display: block;
    }
    #navList{
        visibility: hidden;
    }
    #navList{
        list-style: none;
        display: flex;
        gap: 20px;
        left: 0;
    }
}

/*----<<<<<<<<<<<< About Client >>>>>>>>>>.-----------*/
.clientIntro{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f3f3;
    gap: 30px;
    padding-top: 100px;
    padding-bottom: 70px;
}

.clientIntro div img{
    width: 200px;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    border: 4px solid #9c4a91;
}
.aboutClient{
    font-size: 21px;
    font-family: cursive;
    max-width: 400px;
    animation: fadeIn 4s ease-in-out forwards;
    opacity: 0;
}

.aboutClient p a{
    color: rgb(22, 72, 211);
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateX(100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width: 600px){
    .clientIntro{
        padding: 90px 20px 10px 20px;
    }
    .clientIntro div img{
        width: 120px;
        border-top-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .aboutClient{
        font-size: 15px;
        font-family: cursive;
        max-width: 400px;
    }

}
@media only screen and (max-width: 300px){
    .clientIntro{
        display: block;
        padding: 30px;
        align-items: center;
    }
    .aboutClient{
        margin-top: 10px;
    }
}

/**************<< WEARS >>*************************/
.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
#wearsh3{
    margin: 80px 0 0 8px;
    text-align: center;
    font-size: 35px;
    font-family: cursive;
}
.wearsCollection{
    padding: 10px 70px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 950px;
}
.malewears h4{
    color: #fff;
    font-size: 25px;
    font-family: cursive;
    margin: 10px 30%;
    text-decoration: overline;
    text-align: center;
}
.malewears{
    border-right: 1px solid rgb(112, 107, 107);
}
.malewears div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3px;
}
.maleCloths{
    display: grid;
    grid-gap: 2px;
}

.maleCloths .male1{
    grid-row: span 1;
    grid-row-start: 2;
    grid-row-end: 3;
    opacity: 0;
    animation: zoomIn 5s ease infinite;
}
@keyframes zoomIn{
    from{transform: scale(0); opacity: 0;}
    to{transform: scale(1); opacity: 1;}
}

.maleCloths .male2{
    opacity: 0;
    animation: zoomOut 6s infinite;
}
@keyframes zoomOut{
    from{transform: scale(1); opacity: 1;}
    to{transform: scale(0); opacity: 0;}
}
.maleCloths .male3{
    opacity: 0;
    animation: zooming 7s infinite;
}
@keyframes zooming{
    from{transform: scale(0); opacity: 0;}
    to{transform: scale(1); opacity: 1;}

}

.maleCloths .male3 img{
    height: 100%;
    width: 140px;
}
.maleCloths .male3{
    grid-row: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}
.malewears div img{
    width: 140px;
    height: 140px;
    border: 3px solid grey;
    border-radius: 10px;
}
/* #maleShirt{
    margin-left: 50px;
} */

@media only screen and (max-width: 600px){
    #wearsh3{
        font-size: 25px;
    }
    .section2{
        padding-right: -30%;
    }
    .wearsCollection{
        display: block;
        align-items: center;
        padding-right: -10px;
        margin-top: -20px;
    }
    .maleCloths .male3 img{
        height: 100%;
        width: 110px;
    }
    
    .malewears div img{
        width: 120px;
        height: 90px;
        border: 3px solid grey;
        border-radius: 10px;
    }
}


/********************* Horizontal Slide ***********************/
#backBtn, #nextBtn{
    height: 35px;
    margin: 10px;
}
#backBtn2, #nextBtn2{
    height: 35px;
    margin: 10px;
}
.slide_image{
    margin: 50px 0;
}

section .horizontal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 30px;
}
section .horizontal #slideImages span img{
    width: 160px;
    height: 250px;
    border: 2px solid grey;
    border-radius: 5px;
    filter: grayscale(100);
    transition: transform 1.8s;
}
section .horizontal #slideImage span img{
    width: 160px;
    height: 250px;
    border: 2px solid grey;
    border-radius: 5px;
    filter: grayscale(100);
    transition: transform 0.7s;
}


.horizontal #slideImages span img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.05);
}
section .horizontal #slideImages{
    display: flex;
    gap: 2px;
}

.horizontal #slideImages{
    width: 750px;
    display: flex;
    overflow-x: scroll;
    border: 3px solid #c295fd;
    border-radius: 5px;
    padding: 10px;
    margin: 30px 0;
}
.horizontal #slideImages::-webkit-scrollbar{
    display: none;
}
.horizontal #slideImages span{
    width: 25%;
    display: grid;
    flex: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 10px;
    flex: none;
    gap: 10px;
}

/*********************IMAGES 2***************************/
section .horizontal #slideImages2 span img{
    width: 160px;
    height: 250px;
    border: 2px solid grey;
    border-radius: 5px;
    filter: grayscale(100);
    transition: transform 0.7s;
}
section .horizontal #slideImage2 span img{
    width: 160px;
    height: 250px;
    border: 2px solid grey;
    border-radius: 5px;
    filter: grayscale(100);
    transition: transform 0.7s;
}


.horizontal #slideImages2 span img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.05);
}
section .horizontal #slideImages2{
    display: flex;
    gap: 2px;
}

.horizontal #slideImages2{
    width: 750px;
    display: flex;
    overflow-x: scroll;
    border: 3px solid #c295fd;
    border-radius: 5px;
    padding: 10px;
    margin: 30px 0;
}
.horizontal #slideImages2::-webkit-scrollbar{
    display: none;
}
.horizontal #slideImages2 span{
    width: 25%;
    display: grid;
    flex: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 10px;
    flex: none;
    gap: 10px;
}
/*********************IMAGES 2***************************/
#backBtn3, #nextBtn3{
    height: 35px;
    margin: 10px;
}

section .horizontal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 30px;
    background: #dee0e0;
    padding-top: 60px;
    padding-bottom: 60px;
}
section .horizontal #slideImages3 span img{
    width: 160px;
    height: 250px;
    border: 2px solid grey;
    border-radius: 5px;
    filter: grayscale(100);
    transition: transform 0.7s;
}
section .horizontal #slideImage3 span img{
    width: 160px;
    height: 250px;
    border: 2px solid grey;
    border-radius: 5px;
    filter: grayscale(100);
    transition: transform 0.7s;
}


.horizontal #slideImages3 span img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.05);
}
section .horizontal #slideImages3{
    display: flex;
    gap: 2px;
}

.horizontal #slideImages3{
    width: 750px;
    display: flex;
    overflow-x: scroll;
    border: 3px solid #c295fd;
    border-radius: 5px;
    padding: 10px;
    margin: 30px 0;
}
.horizontal #slideImages3::-webkit-scrollbar{
    display: none;
}
.horizontal #slideImages3 span{
    width: 25%;
    display: grid;
    flex: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 0 10px;
    flex: none;
    gap: 10px;
}

/*********************************Partners Section**********************************/
.section3{
    text-align: center;
    margin-top: -20px;
}

.parternersSection {
    display: flex;
    align-items: top;
    justify-content: center;
    margin: 20px 50px;
    gap: 14px;
    margin-top: 5px;
}
.parternersSection .partner{
    width: 190px;
    /* animation: fadeIn 5s ease-in-out forwards; 
    opacity: 0; */
    color: #fff;
    background: linear-gradient(150deg, #5e6166, #645462);
    padding: 20px 10px;
    border: 3px solid rgb(223, 211, 224);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    aspect-ratio: 1 / 1;
    animation: 4s linear 3s forwards sun-rise;
}
@keyframes sun-rise {
    from {
      transform: translateY(50%);
    }
    to {
      transform: translateY(0);
    }
  }

.parternersSection .partner img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgb(233, 229, 229);
}

.section3 span{
    font-size: 25px;
    color: #333;
    font-weight: bold;
}
@media only screen and (max-width: 600px){
    .parternersSection {
        margin: 20px 10px;
        gap: 3px;
    }
    .parternersSection .partner img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 2px solid rgb(233, 229, 229);
    }
    .parternersSection .partner{
        width: 150px;
        padding: 20px 0;
        font-size: 13px;
    }
    
}

/************************************ COMPANIES LOGO*************************************/
.companyDiv{
    background: #eff1f1;
    margin-top: 60px;
    padding-top: 40px;
}
.companies div img{
    height: 60px;
}
.companies div{
    width: 900px;
    margin: 50px;
    animation: 8s linear 0s infinite bounce;
}
@keyframes bounce {
    from {
      transform: translateX(-50vw);
    }
    to {
      transform: translateX(50vw);
    }
  }
.companies{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: -30px;
}
.companyDiv span{
    color: #333;
    font-size: 25px;
    font-weight: bold;
}

@media only screen and (max-width: 600px){
    .companies div img{
        height:45px;
    }
    .companyDiv span{
        font-size: 20px;
    }
}

/*********************** FOOTER SECTION*****************************/
.footerInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #131111;
}
.footerInfo .companyFooter{
    width: 950px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    margin: 0 50px;
    margin-top: 20px;
    padding: 0 50px;
}
.footerInfo .companyFooter .details ul li{
    list-style: none;
    margin: 5px 0;
    font-size: 13px;
}
.companyFooter .details p{
    font-size: 18px;
    color: #0852f3;
    animation: 8s linear 0s backwards bounce;
}
.details ul li a{
    text-decoration: none;
    color: #fff;
}
.details ul li .facebook{
    color: rgb(4, 4, 224);
    font-size: 21px;
    padding-left: 12px;
}
.details ul li .instagram{
    color: rgb(192, 6, 6);
    font-size: 21px;
    padding-left: 12px;
}
.details ul li .twitter{
    color: rgb(27, 27, 117);
    font-size: 21px;
    padding-left: 12px;
}
.details ul li .whatsapp{
    color: rgb(15, 77, 15);
    font-size: 21px;
    padding-left: 12px;
}
.details ul li .youtube{
    color: rgb(230, 34, 66);
    font-size: 21px;
    padding-left: 12px;
}

 @media only screen and (max-width: 600px){
    .footerInfo .companyFooter .details ul li{
        font-size: 9px;
    }
    .companyFooter .details p{
        font-size: 15px;;
    }
    .details ul li .facebook{
        font-size: 18px;
    }
    .details ul li .instagram{
        font-size: 18px;
    }
    .details ul li .twitter{
        font-size: 18px;
    }
    .details ul li .whatsapp{
        font-size: 18px;
    }
    .details ul li .youtube{
        font-size: 18px;
    }
 }

 /*********************** Bottom Div**********************/
 .bottomDiv{
    color: #fff;
    display: flex;
    font-size: 10px;
    gap: 10%;
    margin-left: 21%;
    margin-top: -15px;
 }